
/* imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");


/* main variables */
:root {

    --header-height: 3.5rem;

    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);

    --body-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --z-tooltip: 10;
    --z-fixed: 100;

}


/* responsive typography */
@media screen and ( min-width: 1152px ) {

    :root {
        --biggest-font-size: 5.5rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}


/* core styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

body {
    background-color: var(--body-color);
}

button,
input {
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* reusable styles */

.container {
    max-width: 1220px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.sectionTitle {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.main {
    overflow: hidden; /* For animation ScrollReveal */
}


/* header */

.header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
}

.navToggle,
.navClose {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

@media screen and ( max-width: 1023px ) {

    .navMenu {
        position: fixed;
        top: -100%;
        left: 0;
        background: hsla( 0, 0%, 0%, .3 );
        width: 100%;
        padding-block: 4rem;
        backdrop-filter: blur( 24px );
        -webkit-backdrop-filter: blur( 24px );
        transition: top .4s;
    }

}

.navList {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.navLink {
    position: relative;
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.navLink::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.navClose {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.showMenu {
    top: 0;
}

.smallTitle {
    font-size: var(--h2-font-size);
}


/* home */

.home {
    position: relative;
}

.homeBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
}

.homeShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient( 180deg,
                hsla( 0, 0%, 0%, 0 ) -40%,
                hsl( 0, 0%, 0% ) 75% );
}

.homeContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    row-gap: 3rem;
}

.homeData {
    text-align: center;
}

.homeSubtitle {
    font-size: var( --h3-font-size );
    margin-bottom: .5rem;
}

.homeTitle {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.homeDescription {
    margin-bottom: 2rem;
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.homeDescription span {
    font-size: var(--small-font-size);
}

.homeCards {
    grid-template-columns: 240px;
    justify-content: center;
}

.homeCard {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.homeCardImg {
    transition: transform .4s;
}

.homeCardShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient( 180deg,
                hsla( 0, 0%, 0%, 0 ) 50%,
                hsl( 0, 0%, 0% ) 125% );
}

.homeCardTitle {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: var(--h3-font-size);
    z-index: 1;
}

.homeCard:hover .homeCardImg {
    transform: scale( 1.2 );
}

.button {
    background-color: hsla( 0, 0%, 100%, .2 );
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur( 24px );
    -webkit-backdrop-filter: blur( 24px );
    margin-top: 2rem;
}

.button i {
    font-size: 1.25rem;
    transition: transform .4s;
    font-weight: initial;
}

.button:hover i {
    transform: translateY( .25rem );
}

.blurHeader::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla( 0, 0%, 0%, .3 );
    backdrop-filter: blur( 24px );
    -webkit-backdrop-filter: blur( 24px );
    top: 0;
    left: 0;
    z-index: -1;
}


/* about */

.aboutContainer {
    row-gap: 3rem;
}

.aboutData {
    text-align: center;
}

.aboutDescription {
    margin-bottom: 2rem;
}

.aboutImage {
    width: 90%;
    height: 100%;
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.aboutImg {
    width: 300px;
    transition: transform .4s;
}

.aboutShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg,
              hsla( 0, 0%, 0%, 0 ) 50%,
              hsl( 0, 0%, 0% ) 125% );
}

.aboutImage:hover .aboutImg {
    transform: scale( 1.2 );
}


/* popular */

.popularContainer {
    padding-top: 1.5rem;
    grid-template-columns: 240px;
    justify-content: center;
    row-gap: 2.5rem;
}

.popularImage {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.popularImg {
    transition: transform .4s;
}

.popularShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg,
              hsla( 0, 0%, 0%, 0 ) 50%,
              hsl( 0, 0%, 0% ) 125% );
}

.popularTitle {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}

.popularText {
    text-align: center;
}

.popularLocation {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: var(--small-font-size);
    font-family: var(--second-font);
    font-weight: 500;
}

.popularLocation i {
    font-size: 1rem;
}

.popularImage:hover .popularImg {
    transform: scale( 1.2 );
}


/* explore */

.explore {
    position: relative;
}

.exploreImage {
    position: absolute;
    overflow: hidden;
}

.exploreImg {
    width: 100%;
    height: 333px;
    object-fit: cover;
    object-position: center;
}

.exploreShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg,
              hsl( 0, 0%, 0% ) 5%,
              hsla( 0, 0%, 0%, 0 ) 40%,
              hsla( 0, 0%, 0%, 0 ) 60%,
              hsl( 0, 0%, 0%) 92% );
}

.exploreContent {
    position: relative;
    padding-top: 16rem;
    text-align: center;
    row-gap: 2.5rem;
}

.exploreUser {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    margin-top: 1rem;
}

.explorePerfil {
    width: 30px;
    border-radius: 50%;
}

.exloreName {
    font-size: var(--small-font-size);
    color: var(--title-color);
}


/* join */

.joinContainer {
    row-gap: 3rem;
    padding-bottom: 2.5rem;
}

.joinData {
    text-align: center;
}

.joinDescription {
    margin-bottom: 2rem;
    font-size: var(--h2-font-size);
}

.joinForm {
    display: grid;
    row-gap: 1rem;
}

.joinInput {
    padding: 1.25rem 1rem;
    background-color: var(--container-color);
}

.joinButton {
    cursor: pointer;
}

.joinImage {
    width: 90%;
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.joinImg {
    width: 300px;
    transition: transform .4s;
}

.joinShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg,
              hsla( 0, 0%, 0%, 0 ) 50%,
              hsl( 0, 0%, 0% ) 125% );
}

.joinImage:hover .joinImg {
    transform: scale( 1.2 );
}


/* footer */

.footer {
    margin-top: 100px;
    padding-block: 2.5rem;
    background-color: var(--container-color);
}

.footerContent {
    row-gap: 3.5rem;
}

.footerLogo {
    display: inline-block;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}

.footerData {
    grid-template-columns: repeat( 2, max-content );
    gap: 2.5rem 3.5rem;
}

.footerTitle {
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}

.footerLinks {
    display: grid;
    row-gap: .75rem;
}

.footerLink {
    color: var(--text-color);
    transition: color .4s;
}

.footerLink:hover {
    color: var(--title-color);
}

.footerGroup,
.footerSocial {
    display: flex;
}

.footerGroup {
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.footerSocial {
    column-gap: 1.5rem;
}

.footerSocial {
    color: var(--text-color);
    font-size: 1.25rem;
    transition: color .4s, transform .4s;
}

.footerSocialLink:hover {
    color: var(--title-color);
    transform: translateY( -.25rem );
}

.footerCopy {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-align: right;
}


/* scrollbar */

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl( 0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl( 0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl( 0, 0%, 30%);
}


/* scroll up */
.scrollUp {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla( 0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    backdrop-filter: blur( 24px );
    -webkit-backdrop-filter: blur( 24px );
    z-index: var(--z-tooltip);
    transition: bottom .4s transform .4s;
}

.scrollUp:hover {
    transform: translateY( -.25rem );
}

.showScroll {
    bottom: 3rem;
}

.activeLink::after {
    width: 70%;
}


/* breakpoint small services */
@media screen and ( max-width: 430px ) {

    .container {
        margin-inline: 1rem;
    }

    .footerData {
        grid-template-columns: max-content;
    }

}


/* breakpoint medium services */
@media screen and ( min-width: 576px ) {

    .homeContainer,
    .aboutContainer,
    .exploreContent,
    .joinContainer {
        grid-template-columns: 380px;
        justify-content: center;
    }

    .homeImages {
        display: none;
    }

    .footerData {
        grid-template-columns: repeat( 3, max-content );
    }

    .homeArticle,
    .homeImg {
        padding: 3rem;
        transition: scale .9s
    }

    .homeArticle {
        scale: .5;
    }

}


/* breakpoint medium-large services */
@media screen and ( min-width: 768px ) {

    .homeCards {
        grid-template-columns: repeat( 2, 240px );
    }

    .aboutContainer,
    .joinContainer {
        grid-template-columns: repeat( 2, 350px );
        align-items: center;
    }

    .aboutData,
    .aboutData .sectionTitle,
    .joinData,
    .joinData .sectionTitle {
        text-align: inherit;
    }

    .popularContainer {
        grid-template-columns: repeat( 2, 240px );
    }

    .exploreImg {
        width: 100vw;
    }

    .joinImage {
        order: -1;
    }

    .footerContent {
        grid-template-columns: repeat( 2, max-content );
        justify-content: space-between;
    }

    .footerGroup {
        flex-direction: row;
        justify-content: space-between;
    }

    .footerCopy {
        order: -1;
    }

}


/* breakpoint large services */
@media screen and ( min-width: 1023px ) {

    .navClose,
    .navToggle {
        display: none;
    }

    .navList {
        flex-direction: row;
        column-gap: 4rem;
    }

    .popularContainer {
        grid-template-columns: repeat( 3, 240px );
    }

    .homeArticle,
    .homeImg {
        height: 200px;
        margin: 0;
        padding: 0;
        transition: scale .4s
    }

    .homeData {
        text-align: right;
    }

    img.homeImg {
        height: 500px;
    }

    .homeSwiper {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .homeImg {
        width: 300px;
        height: auto;
    }

    .footerData {
        grid-template-columns: repeat( 4, max-content );
        column-gap: 4.5rem;
    }

}


/* breakpoint large services */
@media screen and ( min-width: 1152px ) {

    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .nav {
        height: calc( var( --header-height ) + 1.5rem );
    }

    .blurHeader::after {
        backdrop-filter: blur( 25px );
        -webkit-backdrop-filter: blur( 25px );
    }

    .homeContainer {
        grid-template-columns: initial;
        justify-content: initial;
        row-gap: 4rem;
        padding-top: 3rem;
    }

    .homeShadow {
        height: 980px;
    }

    .homeData {
        text-align: initial;
        width: 480px;
    }

    .homeSubtitle {
        font-size: var(--h2-font-size);
    }

    .homeDescription {
        margin-bottom: 2.5rem;
    }

    .homeCards {
        grid-template-columns: repeat( 3, 200px );
    }

    .homeCardTitle {
        left: 1.5rem;
        bottom: 1.5rem;
    }

    .button {
        column-gap: 1.5rem;
    }

    .aboutContainer {
        grid-template-columns: 400px 460px;
        column-gap: 8.5rem;
        padding-block: 1rem;
    }

    .aboutDescription {
        margin-bottom: 3rem;
    }

    .aboutImg {
        width: 460px;
    }

    .popularContainer {
        grid-template-columns: repeat( 3, 300px );
        column-gap: 3rem;
        padding-top: 4rem;
    }

    .popularTitle {
        font-size: var(--h2-font-size);
    }

    .popularLocation {
        font-size: var(--normal-font-size);
    }

    .exploreImg {
        height: 600px;
    }

    .exploreContent {
        padding-top: 28rem;
        grid-template-columns: 670px 1fr;
    }

    .exploreData,
    .exploreData .sectionTitle {
        text-align: initial;
    }

    .exploreUser {
        justify-content: flex-end;
        align-self: flex-end;
        margin-bottom: 1.25rem;
    }

    .joinContainer {
        grid-template-columns: 460px 340px;
        column-gap: 8.5rem;
        padding-block: 1rem 5rem;
    }

    .joinImg {
        width: 460px;
    }

    .joinDescription {
        margin-bottom: 3rem;
    }

    .footer {
        padding-block: 5rem 3rem;
    }

    .footerTitle {
        margin-bottom: 1.5rem;
    }

    .footerGroup {
        margin-top: 7rem;
    }

    .footerSocial {
        column-gap: 2rem;
    }

    .footerSocialLink {
        font-size: 1.5rem;
    }

    .scrollUp {
        right: 3rem;
    }

}


/* home v2 */

.homeSwiper {
    margin: initial;
}

.homeContainer {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.homeData {
    text-align: center;
}


.homeArticle,
.homeImg {
    width: 220px;
    transition: scale .4s
}

.homeArticle {
    scale: .7;
}

.homeSwiper {
    width: 100%;
    height: 100%;
}

.homeImg {
    height: 300px;
    width: 100%;
}


@media screen and ( min-width: 260px ) {

    .homeImg {
        height: 320px;
    }

}


@media screen and ( min-width: 290px ) {

    .homeImg {
        height: 400px;
    }

}


@media screen and ( min-width: 350px ) {

    .homeImg {
        height: 450px;
    }

}


@media screen and ( min-width: 400px ) {

    .homeImg {
        height: 500px;
    }

}


@media screen and ( min-width: 450px ) {

    .homeImages {
        display: none;
    }

    .homeData {
        text-align: left;
        padding: 3rem 0;
    }

}